.project_page {
    min-height: 150vh;
    padding-top: 5vh;
    background-image: url(../../images/bgImg/indexBannerBg.jpg);
    background-size: contain;
    background-position: top center;
    background-attachment: fixed;
}

#project_type_switch {
    color: white;
}

.project_type_switch {
    background-color: #292b2c;
    width: 50%;
    margin: 0 auto;
    border-radius: 10px;
    padding: 0.2vh 0.2vw;
}

.project_type_switch > a {
    color:#f7f7f7;
    border: none;
    border-radius: 0 !important;
}

.project_type_switch > a:hover {
    color: #292b2c;
    background-color: rgb(182, 182, 182);
    border: none;
}