.project_page {
    min-height: 150vh;
    padding-top: 5vh;
    background-image: url(../../images/bgImg/indexBannerBg.jpg);
    background-size: contain;
    background-position: top center;
    background-attachment: fixed;
}