.notable_experience_header {
    font-family: Serif;
    text-align: center;
    font-size: 1.5rem;
    margin: 6vh 0;
    font-weight: bolder;
}

.notable_experience_content {
    text-align: left;
}

.notable_experience_content_header {
    font-family: Serif;
}