.contact_page {
    min-height: 100vh;
    padding-top: 5vh;
    background-image: url(../../images/bgImg/indexBannerBg.jpg);
    background-size: contain;
    background-position: top center;
    background-attachment: fixed;
}

.contact_body {
    background-color: #eee;
    min-height: 80vh;
    padding-top: 5vh;
    padding: 5vh 1vw;
}

.contact_info {
    text-align: center;
    margin: 3vh auto;
    width: 60%;
    background-color: #c6ab7e;
    padding: 3vh 3vw;
    color: #292b2c;
    border-radius: 10px;
    box-shadow: 0 0 2px 1px gray;
}

.contact_info a{
    display: block;
    text-align: left;
    margin-bottom: 3vh;
}