.project_card {
    background-color: #c6ab7e;
    width: 70%;
    min-height: 10vh;
    margin: 3vh auto;
    padding: 2vh 2vw;
    border-radius: 10px;
    box-shadow: 0 0 2px 1px gray;
}

.project_card img{
    width: 15rem;
    height: 8rem;
    border-radius: 10px;
}

.project_offcanvas {
    width: 50%;
}

.project_offcanvas_trigger {
    background-color: #292b2c;
    color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 0 1px 1px gray;
    border: none;
    vertical-align: middle;
}

.project_offcanvas_trigger:hover {
    color: #c5c5c5;
}

.project_button {
    display: inline-block;
    background-color: #292b2c;
    color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 0 1px 1px gray;
    vertical-align: middle;
    padding: 0.1vh 0.2vw;
    text-decoration: none;
    margin-right: 1vw;
    margin-bottom: 1vh;
}

.project_button:hover {
    text-decoration: underline;
}